DotNet/TradeSearchClient/Service References/TradeSearchServiceReference/TradeSearchServiceLibrary.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TradeSearchServiceLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TradeSearchServiceLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTradeItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeItem" nillable="true" type="tns:TradeItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeItem" nillable="true" type="tns:ArrayOfTradeItem" />
  <xs:complexType name="TradeItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BotName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BotURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuyPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Max" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellPrice" type="xs:int" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeItem" nillable="true" type="tns:TradeItem" />
</xs:schema>